.header {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 5px;
    padding-top: 3px;
    background-image: linear-gradient(to right, rgb(0, 71, 171,1), rgb(112, 41, 125,1));
}

.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.main-container{
    display: flex;
    border: 1px solid black;
}

.box{
    height: 200px;
    width: 33vw;
    border: 1px solid black;
    display: flex;

    
}

.cards{
    height: 100px;
}
